.card-img {height: 150px;
  background-size: cover;
  display: flex;
  background-position: 50% 50%;
  justify-content: center;
  align-items: center;}

.card-title {
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-shadow: 1px 1px #000000;}
