.navbar {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color:#ffd19c;

  a {
    color: white;
    font-size: larger;
    text-transform: lowercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 1px 1px $red;
  }
}
